Repository ROCm/ROCmValidationSuite, pull requests merged in 2018-09, with the labels that each got.

#240 Fixes for rocm_smi_lib handling
  CMakeLists.txt
  README.md
  gm.so/CMakeLists.txt
  iet.so/CMakeLists.txt
  rvsso.conf
Labels: m-Project, t-bug

#243 Iss237 - GST rvs:lp::Stopping() functionality
  gst.so/src/action.cpp
  gst.so/src/gst_worker.cpp
  rvs/conf/gmgst1.conf
  rvs/conf/gmgst2.conf
Labels: m-GST, t-enhancement

#246 Iss238 - IET ::Stopping() improvement
  iet.so/src/action.cpp
  rvs/conf/gmiet1.conf
Labels: m-IET, t-enhancement

#245 Iss237 - GST ::Stopping() improvement
  gst.so/src/action.cpp
  rvs/conf/gmgst3.conf
Labels: m-GST, t-enhancement

#259 add some more .conf files
  rvs/conf/gst_1.conf
  rvs/conf/gst_2.conf
  rvs/conf/gst_3.conf
  rvs/conf/gst_4.conf
  rvs/conf/gst_5.conf
  rvs/conf/gst_6.conf
  rvs/conf/iet3.conf
  rvs/conf/iet4.conf
  rvs/conf/iet5.conf
Labels: m-GST, m-IET, t-enhancement
